
<style>
    ul > li > a > img {
        width: 300px;
    }
</style>
<div>
    <h4>{{ item.resource_type }}</h4>
    <h4>{{ item.format }}</h4>
    <img src="{{ item.url }}">
    <img src="{{ item.secure_url }}">
</div>
