<div style="overflow: hidden;">
    <div style="width:50%; float: left;">
        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#{{ form_end(form) }}#}
    </div>
</div>
<div>
    <form enctype="multipart/form-data" method="post" action="{{ path('upload') }}">
        <input type="file" name="picture" />
        <input type="submit" name="submit" value="submit">
    </form>
</div>